<div class="col-md-12 main_secrets_div">
	<div class="col-md-8 col-md-offset-2 minor_secrets_div">
		<h1>Secrets</h1>
		<% @secrets.each do |secret|%>
			<div class="form-group home">
				<p><%= secret.content %></p>
				
				<%if secret.users_liked.include? current_user%>
					<form action="/likes/<%=secret.id%>" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
						<div class="like">
							<input type="submit" value="unlike">
						</div>
					</form>
				<% else %>
					<form action="/likes/<%=secret.id%>" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 
						<div class="like">
							<input type="submit" value="Like">
						</div>
					</form> 
				<%end%>
				<p><%= Secret.find(secret.id).likes.count %> likes</p>
				<% if current_user == secret.user %>
					<form action="/secrets/<%=secret.id%>" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<div class="erase_main">
							<input type="submit" value="Delete">
						</div>
					</form>  
					<!-- <a href="/secrets/<%=secret.id%>" data-method="delete">Delete</a>  -->
				<%end%>	
			</div> <!-- end of form-group div -->
		<%end%> 
	</div>
</div>